# Convenient stuff
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

tableflip() {
  echo "（╯°□°）╯ ┻━┻";
}

# Git

# OS-X Specific
alias lockscreen='/System/Library/Frameworks/ScreenSaver.framework/Resources/ScreenSaverEngine.app/Contents/MacOS/ScreenSaverEngine'

function gco {
  if [[ $# == 0 ]]; then
    git checkout master
  else
    git checkout "$@"
  fi
}

# Xcode
function dxdd {
  if pgrep Xcode >/dev/null; then
    echo "Cannot delete derived data while Xcode is running!"
  else
    echo "Deleting `cd ~/Library/Developer/Xcode; pwd`/DerivedData"
    rm -rf ~/Library/Developer/Xcode/DerivedData
  fi
}

# bundle
alias be='bundle exec'

# Stefan personals
alias colorize="~/bin/colorize"
alias home="vcsh dotfiles"
alias fuck='$(thefuck $(fc -ln -1))'
alias remigrate='rake db:drop db:create db:migrate'
alias yolo='git push --force'