# Convenient stuff
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

tableflip() {
  echo "（╯°□°）╯ ┻━┻";
}

# Git
alias gap="git add --patch"
alias gb='git branch -v'
alias gd='git diff'
alias gl="git log --date=local"
alias gps="git pull && git submodule sync && git submodule update --init --recursive"
alias grc="git rebase --continue"
alias grim="git rebase --interactive master"
alias grm="git status | grep 'deleted:' | sed -e 's/^.*deleted: *//' -e 's/^/\"/g' -e 's/$/\"/g' | xargs -n1 git rm"
alias gs='git status'
alias gss='git status --short --branch'
alias gu="$EDITOR ~/.gitconfig"
alias gum="echo 'Resetting master to the latest origin/master...' && git fetch && git update-ref refs/heads/master origin/master"
alias ungreen="git log --abbrev-commit --reverse --pretty=format:'%C(yellow)%h%Creset %C(bold)%s%Creset %an' origin/ci-master-distributed-latest..origin/master"

# OS-X Specific
alias lockscreen='/System/Library/Frameworks/ScreenSaver.framework/Resources/ScreenSaverEngine.app/Contents/MacOS/ScreenSaverEngine'

function gco {
  if [[ $# == 0 ]]; then
    git checkout master
  else
    git checkout "$@"
  fi
}

# Xcode
function dxdd {
  if pgrep Xcode >/dev/null; then
    echo "Cannot delete derived data while Xcode is running!"
  else
    echo "Deleting `cd ~/Library/Developer/Xcode; pwd`/DerivedData"
    rm -rf ~/Library/Developer/Xcode/DerivedData
  fi
}

# Stefan personals
alias colorize="~/bin/colorize"
alias home="vcsh dotfiles"
alias fuck='$(thefuck $(fc -ln -1))'
alias remigrate='rake db:drop db:create db:migrate'
alias yolo='git push --force'